.container-full {
  padding: 5rem;
  display: flex;
  justify-content: right;
  background: #DCE8DF;
  width: 100%;
}

.sidebar {
  padding: 5rem;
  display: flex;
  justify-content: right;
  background: #DCE8DF;
}

.sample {
  border: 1px grey solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10em;
  width: 100%;
  height: 400px;
}

.row {
  padding: 50px;
}

.job-date, .location, .job-type {
  font-weight: normal;
  color: grey;
}

.job-head {
  color: grey;
}

h4 {
  color: white;
}

.contact {
  font-size: 14px;
  line-height: 20px;
}

.no-sidebar {
  background: white;
  padding: 30px;
}

.footer {
  color: grey;
  text-align: center;
  font-size: 10px;
  padding: 20px;
  background-color: lightgrey;
  width: 100%;
}

a {
  color: grey;
  font-weight: 500;
}
